body{
	margin:0;
}
header{
	background-color: #c1e6fc;
}
header img{
	display: block;
	width:200px;
	margin:0 auto;
	background-color: white;
	padding:10px;
	border-radius: 5px;
}
header nav {
	padding: 10px 0;
}
header ul{
	padding:0;
}
header ul li {
	display:block;
	float: left;
	width:25%;
	text-align: center;
	padding:0 5px;
	font-family: monospace;
	color: rgba(13, 121, 185, .5);
	font-size: 20px;
	transition:color 150ms ease-out;
}
header ul li:hover {
	color:rgba(13, 121, 185, 1);
	
}
#hero{
	height:300px;
	background-image: url("../images/sky.jpg");
	background-size:cover;
	background-attachment:fixed;
}
main {
	background-color: #dedede;
}
section {
	width:80%;
	margin: 0 auto;
	position: relative;
}
section img {
	width:25%;
	float: left;
	border-radius:50%;
	padding:10px;
	border:1px solid #ccc;
	background-color: #efefef;
	position:absolute;
	top:10px;
	left:10%;
	z-index: 1;
	transition:left 150ms ease-out;
}
section article {
	width: 80%;
	float:right;
	padding: 0 40px 40px 40px;
	background-color: white;
	position:relative;
	z-index: 2;
}
section article:before {
	content: " ";
	display: block;
	background-color: white;
	width:100%;
	height:100px;
	position: absolute;
	left:0;
	top:-100px;
	background-image: url("../images/mail.png");
	background-repeat: repeat-x; 	
}
section article h1 {
	font-size: 45px;
}
section article p {
	font-size: 20px;
	line-height: 1.5;
	margin:16px 0;
}
section article h2 {
	font-size: 30px;
	float:right;
	font-family: 'Homemade Apple', cursive;
}
section img:hover{
	left:0px;
}
section article h2:before {
	content:"- ";
	}
footer {
	background:#303030;
	padding:40px 0;
	color:white;
}
footer p {
	width:80%;
	margin: 0 auto;
}